@media screen and (min-width:480px) and (max-width:911px) {
    
    :root {
        --primary-color: #0e0a31;
        --secondary-color: #43baff;
        --heading-color: #7141b1;
        --heading-2-color: #1b1d21;
        --web-font-Montserrat: 'Montserrat', sans-serif;
        --web-font-Nunito_Sans: 'Nunito Sans', sans-serif;
    }
    
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    .container {
        width: 90%;
        margin: auto;
    }
    
    .flex {
        display: flex;
    }
    
    a {
        text-decoration: none;
    }
    
    
    /* Navigatio Bar */
    
    /* nav {
        z-index: 1;
        position: sticky;
        top: 0;
        font-family: var(--web-font-Nunito_Sans);
        height: 90px;
        background-color: var(--primary-color);
        border-bottom: #18143f solid 2px;
    }
    
    .nav-bar {
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    
    .nav-logo img {
        width: 9.5rem;
    }
    
    .nav-items ul li {
        list-style: none;
        margin: 0 30px;
    }
    
    .nav-items ul li a {
        color: white;
        font-weight: 600;
        font-size: large;
    }
    
    .nav-items ul li a:hover {
        color: var(--secondary-color);
        transition: 0.3s;
    }
    
    .nav-cta a {
        color: white;
        border: 2px solid white;
        padding: 13px 25px;
        border-radius: 50px;
        font-weight: 700;
        font-size: large;
        transition: 0.3s;
    }
    
    .nav-cta a:hover {
        border: 2px solid #3190c7;
        color: white;
        background-color: #3190c7;
    } */
    
    /* Navigatio Bar */
    
    #mobNav{
           display: none;
        }
    
    nav {
        z-index: 1;
        position: sticky;
        top: 0;
        font-family: var(--web-font-Nunito_Sans);
        height: 90px;
        background-color: var(--primary-color);
        border-bottom: #18143f solid 2px;
    }
    
    .nav-bar {
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    
    .nav-logo img {
        width: 10rem;
    }
    
    .nav-items ul li {
        list-style: none;
        margin: 0 15px;
    }
    
    .nav-items ul li a {
        color: white;
        font-weight: 600;
        font-size: large;
    }
    
    .nav-items ul li a:hover {
        color: var(--secondary-color);
        transition: 0.3s;
    }
    
    .nav-cta a {
        color: white;
        border: 2px solid white;
        padding: 10px 20px;
        border-radius: 50px;
        font-weight: 700;
        font-size: large;
        transition: 0.3s;
    }
    
    .nav-cta a:hover {
        border: 2px solid #3190c7;
        color: white;
        background-color: #3190c7;
    }
    
    /* HeaderHook */
    .header {
        height: 100vh;
        background-color: var(--primary-color);
        background-image: url(./assets/asset\ 16.png);
        background-size: cover;
        background-position: center;
    }
    
    .header-main {
        align-items: center;
        justify-content: space-between;
    }
    
    .header-hook-text {
        width: 60%;
        font-family: var(--web-font-Montserrat);
        flex-direction: column;
        color: white;
    }
    
    .header-hook-text h1 {
        display: inline;
        font-size: 3.5rem;
        /* font-size: 70px; */
    }
    
    .header-hook-image {
        margin-top: 40px;
        align-items: center;
    }
    
    /* .header-hook-image img {
        margin-top: 3.5rem;
        width: 28rem;
    } */
    .header-hook-image img {
        margin-top: 3.5rem;
        width: 28rem;
    
    }
    
    .header-image-shape {
        background-image: url(./assets/Header-hook-bg.jpg);
        border-radius: 30px;
        height: 25rem;
        width: 20rem;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 0px 20px;
    }
    
    .header-hook-text-p {
        font-size: large;
        color: rgb(179, 179, 179);
        display: inline;
    }
    
    .header-hook-text-cta {
        margin-top: 40px;
    }
    
    .header-hook-text-cta a {
        /* background-color: var(--secondary-color); */
        border: 2px solid var(--secondary-color);
        background-color: var(--secondary-color);
        padding: 13px 25px;
        border-radius: 50px;
        font-weight: 700;
        font-size: large;
        color: white;
        transition: 0.3s;
    }
    
    .header-hook-text-cta a:hover {
        background-color: transparent;
        border: 2px solid white;
    }
    
    
    /* Our Services-section */
    
    .our-services {
        padding: 5rem 0;
    }
    
    .service-section {
        flex-direction: column;
    }
    
    .service-head-text {
        margin: auto;
        flex-direction: column;
        font-family: var(--web-font-Montserrat);
        text-align: center;
        width: 70%;
        line-height: 3px;
    }
    
    .service-head-text span {
        color: var(--heading-color);
        font-weight: bold;
        font-size: large;
    }
    
    .service-head-text h1 {
        display: inline;
        font-weight: 800;
        line-height: 3rem;
        font-size: 2.3rem;
        color: var(--heading-2-color);
    }
    
    .service-cards {
        flex-wrap: wrap;
        padding: .7rem 0;
        /* flex-direction: column; */
        margin: auto;
        justify-content: space-around;
    }
    
    
    
    .card-main {
        background-color: #fff;
        padding-bottom: 20px;
        border-radius: 20px;
        width: 350px;
        height: fit-content;
        border: 1.5px solid rgba(128, 128, 128, 0.356);
        justify-content: space-around;
        transition: 0.5s;
        cursor: pointer;
        margin-bottom: 2rem;
    }
    
    .card-main:hover {
        background-color: var(--primary-color);
        color: white;
    }
    
    .card {
    
        width: 80%;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
    
    }
    
    .card-icon {
        margin: 50px 0 20px 0;
        color: var(--heading-color);
    }
    
    .card-icon i {
        display: inline;
        font-size: 4rem;
    }
    
    .card-heading h3 {
        text-align: center;
        font-size: 1.2rem;
        font-family: var(--web-font-Montserrat);
    }
    
    .card-list {
        /* float: left; */
        list-style: none;
        /* list-style: ; */
    }
    
    .card-list li {
        font-weight: 600;
        opacity: 0.7;
        margin: 8px 0;
        font-family: var(--web-font-Nunito_Sans);
    }
    
    /* About Us Section */
    
    .about-us {
        height: 550px;
        background-image: url(./assets/asset\ 23.png);
        background-repeat: no-repeat;
        background-color: #0e0a31;
    }
    
    .about-us-main {
        /* align-items: center; */
        justify-content: space-between;
    }
    
    .about-us-text {
        margin: 60px 0;
        width: 50%;
        color: white;
    }
    
    .about-us-text span {
        color: #b67eff;
        opacity: 0.5;
        font-weight: bold;
        font-family: var(--web-font-Montserrat);
    }
    
    .about-us-text h1 {
        line-height: 20px;
        font-weight: bold;
        font-family: var(--web-font-Montserrat);
        font-size: 3rem;
    }
    
    .about-us-text p {
        font-weight: 100;
        /* font-weight: 300; */
        opacity: 0.9;
        font-family: var(--web-font-Nunito_Sans);
        line-height: 25px;
    }
    
    .about-us-image {

        margin: auto 0;
    }

    .about-us-image img{
        width: 25rem;
    }
    
    
    .about-Us-home {
        align-items: center;
        color: var(--secondary-color);
        font-family: var(--web-font-Montserrat);
        padding: 20px 5px 0 0;
    }
    
    .about-Us-home:hover {
        color: white;
    }
    
    
    
    
    
    /* Discover Accentiate Section */
    
    .Accentiate {
        padding: 5rem 0 7rem 0;
    }
    
    .Accentiate-main {
        flex-direction: column;
    }
    
    .Accentiate-head-text span {
        color: var(--heading-color);
        font-weight: bold;
        font-size: large;
    }
    
    .Accentiate-head-text h1 {
        display: inline;
        font-weight: 800;
        line-height: 3rem;
        font-size: 2.3rem;
        color: var(--heading-2-color);
    }
    
    .Accentiate-sections {
        justify-content: space-between;
        margin: auto;
        width: 90%;
        padding-top: 20px;
        /* align-items: center; */
    }
    
    .Accentiate-sections-image {
        width: 60%;
        height: 275px;
        width: 400px;
        background: #000;
        border-radius: 25px;
        background-image: url(./assets/Header-hook-bg.jpg);
        background-size: cover;
        margin-right: 10px;
        /* box-shadow: #00000042 0 0 30px 0px; */
    }
    
    .Accentiate-sections-text {
        justify-content: space-around;
        text-align: center;
        width: 60%;
        flex-direction: column;
    }
    
    .Acc-sec-text-heading h2 {
        font-size: x-large;
        display: inline;
        font-family: var(--web-font-Montserrat);
    }
    
    .Acc-sec-text-paragraph p {
        display: inline;
        font-size: 1.1rem;
        color: #1b1d21b4;
        font-family: var(--web-font-Nunito_Sans);
    }
    
    .Acc-sec-text-btn a {
        /* border: 2px solid var(--heading-2-color); */
        padding: 10px 20px;
        font-family: var(--web-font-Nunito_Sans);
        background-color: var(--heading-color);
        color: white;
        border-radius: 60px;
        transition: 0.3s;
        font-weight: 600;
        margin-top: 5px;
    }
    
    .Acc-sec-text-btn a:hover {
        background-color: var(--primary-color);
    }
    
    #Accentiate-sections-1,
    #Accentiate-sections-2 {
        margin-bottom: 5rem;
    }
    
    
    /* Our Team Section */
    
    .team-section {
        padding: 2rem 0;
        background-color: #0e0a31;
    }
    
    #team {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        margin: 3px auto;
        text-align: center;
    }
    
    #team header span {
        font-size: 14px;
        font-weight: 800;
        color: #7141b1;
        position: relative;
        display: inline-block;
        margin-bottom: 2px;
        text-transform: uppercase;
    }
    
    
    
    #team header h2 {
        font-size: 36px;
        font-weight: 800;
        line-height: 48px;
        margin: 20px 0 10px;
        color: #ffffff;
    }
    
    #text {
        color: #a3a3a3;
        margin-bottom: 40px;
    }
    
    section #teamMembers {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .members {
        margin: 0 0 2rem 0;
    }
    
    .members img {
        width: 292px;
        height: 400px;
    }
    
    .membersInfo {
        line-height: 5px;
        text-align: center;
    }
    
    .members h4 {
        font-size: 19px;
        /* line-height: 26.4px; */
        color: white;
    }
    
    .members span {
        font-weight: bold;
        font-size: 14px;
        /* line-height: 26.25px; */
        color: #9c9c9c;
    }
    
    /* footer section */
    
    footer{
        font-family: var(--web-font-Montserrat);
        background-color: #201d3c;
        padding-top: 30px;
        padding-bottom: 2px;
    }
    #footer{
        width: 90%;
        margin: auto;
        display: flex;
    }
    
    .footerItems{
        width: 30%;
        padding: 0 15px;
    }
    .footerItems h5{
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
    }
    
    .footerItems>span{
        color:#aeaacb ;
    }
    
    .footerItems>span a{
        text-decoration: none;
        display: block;
        color: #aeaacb;
        font-size: 16px;
        line-height: 30px;
        transition: 0.3s;
    }
    .footerItems>span a:hover{
        color: white;
    }
    .footerItems>div{
        display: flex;
        margin: 15px 0;
    }
    
    .footer-social-icon{
        font-size: 2rem;
    }
    
    .footer-social-icon  a{
        color: var(--secondary-color);
        margin-right:2rem;
        transition: 0.3s;
    }
    
    .footer-social-icon  a:hover{
        color:white;
    }
    
    
    
    .copy-write{
        display: flex;
        color:#aeaacb;
        justify-content: space-around;
        align-items: center;
        margin: 3rem auto;
        width: 90%;
    }
    
    .footer-logo img{
        width:10rem;
    }
    
    
    /* connect-us */
    
    .connect-us {
        height: 480px;
    }
    
    .connect-us-main {
        border-radius: 20px;
        background-color: rgb(238, 238, 238);
        height: 300px;
        align-items: center;
        justify-content: space-around;
        background-image: url(./assets/asset\ 23.png);
        background-repeat: no-repeat;
        background-position: right;
    }

    .connect-us-text{
        width: 50%;
    }
    
    .connect-us-text h1 {
        color: var(--primary-color);
        width: 50%;
        font-size: 3rem;
        font-family: var(--web-font-Montserrat);
    }
    
    .connect-us-btn a {
        border: 1px solid var(--primary-color);
        color: #18143f;
        font-family: var(--web-font-Nunito_Sans);
        padding: 13px 25px;
        border-radius: 50px;
        font-weight: 700;
        font-size: large;
        transition: 0.3s;
        background-color: #fff;
    }
    
    .connect-us-btn a:hover {
        background-color: var(--primary-color);
        color: white;
    }

}